<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="<%= data.style %>">
    <title><%= data.title %></title>
  </head>
  <body>
    <main class="pl-20 pr-20">
      <div class="flex justify-content-between pb-10">   
        <div>
          <img  
          src="<%= data.company.rutaLogo ?? data.icon %>"
          width="100" 
          height="100"
          />
        </div>
        
        <div class="w-40p text-center">
          <h3><%= data.company.nombreEmpresa %></h3>
            <p><%= data.branch.direccion %> </p>
            <p><%= data.branch.ubigeo.departamento %> - <%= data.branch.ubigeo.provincia %> - <%= data.branch.ubigeo.distrito %></p>
            <p><%= data.branch.telefono %> | <%= data.branch.celular %></p>
            <p><%= data.branch.paginaWeb %> | <%= data.branch.email %>m</p>
        </div>
    
        <div class="text-center border-1 border-solid flex flex-column justify-content-center pl-20 pr-20 pt-10 pb-10">
          <h3>RUC: <%= data.company.documento %></h3>
          <p><%= data.dispatchGuide.comprobante.nombre %></p>
          <p><%= data.dispatchGuide.comprobante.serie %>-<%= data.dispatchGuide.comprobante.numeracion %></p>
        </div>
      </div>

      <div class="flex justify-content-between pt-10 pb-10">
        <div class="w-50p">
          <p class="mb-1"><span class="font-weight-bold">Fecha de Traslado: </span> <%= data.dispatchGuide.fecha %> <%= data.dispatchGuide.hora %></p>
          <p class="mb-1"><span class="font-weight-bold">Doc. Relacionado:</span> <%= data.dispatchGuide.venta.comprobante.nombre %> <%= data.dispatchGuide.venta.comprobante.serie %>-<%= data.dispatchGuide.venta.comprobante.numeracion %></p>
          <p><span class="font-weight-bold">Destinatario</span></p>
          <p><span>RUC / DNI: </span> <%= data.dispatchGuide.venta.cliente.documento %></p>
          <p class="mb-1"><span>informacion:</span> <%= data.dispatchGuide.venta.cliente.informacion %></p>

          <p class="mb-1"><span class="font-weight-bold">Dirección de Partida:</span> <%= data.dispatchGuide.direccionPartida %></p>
          <p class="mb-1"><span class="font-weight-bold">Dirección de Llegada:</span> <%= data.dispatchGuide.direccionLlegada %></p>

          <p class="mb-1"><span class="font-weight-bold">Motivo Traslado:</span> <%= data.dispatchGuide.motivoTraslado.nombre %></p>
        </div>
    
        <div class="w-50p pl-5">
          <p class="mb-1"><span class="font-weight-bold">Transportista</span></p>
          <p><span>Apellidos y Nombres:</span> <%= data.dispatchGuide.conductor.informacion %></p>
          <p class="mb-1"><span>RUC / DNI:</span> <%= data.dispatchGuide.conductor.documento %></p>
          <p class="mb-1"><span class="font-weight-bold">Modalidad Traslado:</span> <%= data.dispatchGuide.modalidadTraslado.nombre %></p>

          <p><span class="font-weight-bold">Unidad de Transporte</span> </p>
          <p><span>Licencia de Conducir:</span> <%= data.dispatchGuide.conductor.licenciaConducir %></p>
          <p class="mb-1"><span>Número de Placa:</span> <%= data.dispatchGuide.vehiculo.numeroPlaca %></p>
        </div>
      </div>

      <div class="pt-10 pb-10">
        <table class="table w-full">
          <thead>
            <tr>
              <th width="5%" class="text-center"><p>#</p></th>
              <th width="30%" class="text-center"><p>Producto</p></th>
              <th width="10%" class="text-center"><p>Uni. Medida</p></th>
              <th width="10%" class="text-right"><p>Cantidad</p></th>
          </tr>
          </thead>
          <tbody>
            <% for (const item of data.dispatchGuide.guiaRemisionDetalles) { %>
            <tr>
              <td class="text-center"><p><%= item.id %></p></td>
              <td class="text-left">
                <p>
                  <%= item.producto.codigo %>
                  <br/>
                  <%= item.producto.nombre %>
                </p>
              </td>
              <td class="text-right"><p><%= item.producto.medida.nombre %></p></td>
              <td class="text-right"><p><%= formatDecimal(item.cantidad) %></p></td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>

      <div class="flex flex-row justify-content-start align-items-center">
          <img src="data:image/png;base64,<%= data.base64QR %>" alt="QR Code" width="100" />  
          <div>
            <a href="https://ww1.sunat.gob.pe/ol-ti-itconsultaunificadalibre/consultaUnificadaLibre/consulta">
              www.consultas-sunat.com
            </a>
            <% if (data.company.tipoEnvio === 0) { %>
              <p class="text-danger font-weight-bold text-center">           
                  Representación Impresa del pre comprobante. No tiene Validez!
              </p>
            <% } else { %>
              <p class="text-danger text-center">
                Representación Impresa de Documento Electrónico Generado!
              </p>
            <% } %>
            <p><span class="font-weight-bold">Vendedor:</span> <%= data.dispatchGuide.usuario.nombres %>, <%= data.dispatchGuide.usuario.apellidos %></p>
          </div>
      </div>
    </main>
  </body>
</html>