<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="<%= data.style %>">
    <title><%= data.title %></title>
  </head>
  <body>
    <main class="pl-10 pr-10 pt-10 pb-10">
      <div class="text-center pb-10">
        <img width="100" src="<%= data.company.rutaLogo ?? data.icon %>" class="mb-5" />
        <br />
        <h2 class="font-weight-bold text-uppercase"> <%= data.company.nombreEmpresa %> </h2>
        <p>RUC: <%= data.company.documento %></p>
        <p><%= data.branch.direccion %></p>
        <p><%= data.branch.ubigeo.departamento %> - <%= data.branch.ubigeo.provincia %> - <%= data.branch.ubigeo.distrito %></p>
        <p>Telf.: <%= data.branch.telefono %></p>
        <p>Cel.: <%= data.branch.celular %></p>
        <p><%= data.branch.email %></p>
        <p><%= data.branch.paginaWeb %></p>
      </div>
  
      <div class="border-1 border-dashed"></div>
  
      <div class="text-center pt-5 pb-5">
        <p class="font-weight-bold text-uppercase font-size-13"><%= data.dispatchGuide.comprobante.nombre %></p>
        <p class="font-weight-bold font-size-13"><%= data.dispatchGuide.comprobante.serie %>-<%= data.dispatchGuide.comprobante.numeracion %></p>
      </div>

      <div class="pt-5 pb-5">
        <p><span class="font-weight-bold">Fecha de Traslado: </span> <%= data.dispatchGuide.fecha %> <%= data.dispatchGuide.hora %></p>
        <p><span class="font-weight-bold">Doc. Relacionado:</span> <%= data.dispatchGuide.venta.comprobante.nombre %> <%= data.dispatchGuide.venta.comprobante.serie %>-<%= data.dispatchGuide.venta.comprobante.numeracion %></p>
        <p><span class="font-weight-bold">RUC / DNI:</span> <%= data.dispatchGuide.venta.cliente.documento %></p>
        <p><span class="font-weight-bold">Destinatario:</span> <%= data.dispatchGuide.venta.cliente.informacion %></p>

        <p><span class="font-weight-bold">Dirección de Partida:</span> <%= data.dispatchGuide.direccionPartida %></p>
        <p><span class="font-weight-bold">Dirección de Llegada:</span> <%= data.dispatchGuide.direccionLlegada %></p>

        <p><span class="font-weight-bold">Transportista</span></p>
        <p><span class="font-weight-bold">Apellidos y Nombres:</span> <%= data.dispatchGuide.conductor.informacion %></p>
        <p><span class="font-weight-bold">RUC / DNI:</span> <%= data.dispatchGuide.conductor.documento %></p>
        <p><span class="font-weight-bold">Modalidad Traslado:</span> <%= data.dispatchGuide.modalidadTraslado.nombre %></p>

        <p><span class="font-weight-bold">Unidad de Transporte</span> </p>
        <p><span class="font-weight-bold">Licencia de Conducir:</span> <%= data.dispatchGuide.conductor.licenciaConducir %></p>
        <p><span class="font-weight-bold">Número de Placa:</span> <%= data.dispatchGuide.vehiculo.numeroPlaca %></p>
        <p><span class="font-weight-bold">Motivo Traslado:</span> <%= data.dispatchGuide.motivoTraslado.nombre %></p>
      </div>

      <div class="border-1 border-dashed"></div>

      <div>
        <table class="table">
          <thead>
              <tr>
                  <th width="5%" class="text-center"><p>#</p></th>
                  <th width="30%" class="text-center"><p>Producto</p></th>
                  <th width="10%" class="text-center"><p>Uni.</p></th>
                  <th width="10%" class="text-right"><p>Cantidad</p></th>
              </tr>
          </thead>
          <tbody>
            <% for (const item of data.dispatchGuide.guiaRemisionDetalles) { %>
              <tr>
                  <td class="text-center"><p><%= item.id %></p></td>
                  <td class="text-left"><p><%= item.producto.nombre %></p></td>
                  <td class="text-center"><p><%= item.producto.medida.nombre %></p></td>
                  <td class="text-right"><p><%= formatDecimal(item.cantidad) %></p></td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>

      <div class="border-1 border-dashed"></div>

      <footer class="pt-5">    
        <div class="text-center mb-5">
          <p>Vendedor: <%= data.dispatchGuide.usuario.nombres %>, <%= data.dispatchGuide.usuario.apellidos %></p>
        </div>

        <div class="text-center">
          <img src="data:image/png;base64,<%= data.base64QR %>" alt="QR Code" width="120" />
          <br />
          <p>
            Representación Impresa de la Guía de Remisión Electrónica
          </p>
          <a href="https://ww1.sunat.gob.pe/ol-ti-itconsultaunificadalibre/consultaUnificadaLibre/consulta">
            www.consultas-sunat.com
          </a>
        </div> 
  
        <div class="text-center mt-2">
            <img src="<%= data.icon %>" width="40" class="m-0">
            <br />
            <a href="https://www.syssoftintegra.com/" class="font-family-pacifico">
              Emitido por: <span class="font-weight-bold">www.syssosftintegra.com</span>
            </a>
        </div>
        
        <% if (data.company.tipoEnvio === 0) { %>
          <p class="text-danger font-weight-bold text-center">           
              Documento no valido
          </p>
        <% } else { %>
          <p class="text-danger text-center">
            Representación Impresa de Documento Electrónico Generado!
          </p>
        <% } %>
      </footer>
    </main>
  </body>
</html>
