<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="<%= style %>">
  <title><%= title %></title>
</head>
<body>
  <div class="masthead">
    <img  
      src="<%= icon %>"
      width="100" 
      height="100"
      />

    <br />
    <h3><%= title %></h3>
    <p><%= ruc %></p>
    <p>av. las palmas</p>
    <p>lima lima peru</p>
    <p>Telf.: 0123456789</p>
    <p>Cel.: 923123123</p>
    <p><i class="flaticon-envelope mr-2"></i>Email: juan@gmail.com</p>
    <p><i class="flaticon-envelope mr-2"></i>Página Web: www.google.com</p>
  </div>

  <hr style="border-top: 1px dashed #000; color: #fff; background-color: #fff; height: 2px; margin: 3px" />

  <div class="text-center" style="margin-bottom: 5px; margin-top: 5px;">
    <p class="font-weight-bold text-uppercase">FACTURA</p>
    <p class="font-weight-bold">B001-0001</p>
  </div>

  <div class="text-left">
    <p><span class="font-weight-bold">Fecha de Traslado: </span> 10/10/2022</p>
    <p><span class="font-weight-bold">Doc. Relacionado:</span> F001-0001</p>
    <p><span class="font-weight-bold">Destinatario:</span> Juan Perez, 12345678901</p>
  </div>

  <div class="text-left">
    <p><span class="font-weight-bold">Dirección de Partida: </span></p>
    <p>AV. LAS PALMAS</p>
    <p>LIMA LIMA PERU</p>
    <p><span class="font-weight-bold">Dirección de Llegada: </span></p>
    <p>JR PEREZ DE LA FLOR CON LAS PALMAS NUMERO 10 MB 100</p>
    <p>12345678901</p>

    <p><span class="font-weight-bold">Transportista</span></p>
    <p>Apellidos y Nombres: JUA PEREZ</p>
    <p>Ruc/Dni: 89898989</p>
    <p><span class="font-weight-bold">Modalidad Traslado:</span> venta</p>
  </div>

  <div class="text-left">
    <p><span class="font-weight-bold">Unidad de Transporte:</span></p>
    <p>Licencia de Conducir:</span> 999</p>
    <p>Número de Placa:</span> vt-12345678901</p>
    <p><span class="font-weight-bold">Motivo Traslado:</span> venta</p>
  </div>

  <section>
    <span class="font-weight-bold">Bienes a transportar:</span>
  </section>

  <div class="table-content">
    <table class="table-main-head mt-2">
      <thead>
        <tr class="font-weight-bold mb-4">
          <th class="text-center" width="5%">Cant.</th>
          <th width="30%">Producto</th>
          <th class="text-center" width="10%">Uni.</th>
        </tr>
      </thead>
      <tbody>   
        <tr>
          <td class="text-center">1</td>
          <td>gaseosa de litro de gas natural</td>
          <td class="text-center">C01</td>
        </tr>

        <tr>
          <td class="text-center">1</td>
          <td>gaseosa de litro de gas natural</td>
          <td class="text-center">C01</td>
        </tr>

        <tr>
          <td class="text-center">2</td>
          <td>gaseosa de litro de gas natural</td>
          <td class="text-center">C01</td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr style="border-top: 1px dashed #000; color: #fff; background-color: #fff; height: 2px; margin: 3px" />

  <footer class="mt-2">  
    <div class="text-center mt-2">
      <img src="https://firebasestorage.googleapis.com/v0/b/syssoftintegra-1215c.appspot.com/o/1723745823291_ljbs72i.webp?alt=media&token=e4d15067-3cf8-45c6-b6d7-69ad698fc8b1" width="70px" class="margin-0">
      <br />
      <a href="https://www.syssoftintegra.com/" class="company-name">
        Emitido por: <span class="font-weight-bold">www.syssosftintegra.com</span>
      </a>
    </div>
    <p class="text-danger font-weight-bold text-center">  
      Representación Impresa de Documento Electrónico Generado En Una Versión de Pruebas. No tiene Validez!
    </p>
    <!-- <p class="bar">123456789</p> -->
  </footer>

</body>

</html>